/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear-{display: none;}  /* В эксплорере убирает крестик в поле ввода */
button{cursor: pointer;}
button-moz-focus-inner {padding: 0;border: 0;}  /* В фаерфоксе убирает лишние отступы в кнопках */
a, a:visited{text-decoration: none;color: #000;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
	/*---------------*/
@font-face { font-family: 'GothamPro';  src: local('GothamPro'), url('https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff') format('woff'); }
@font-face { font-family: 'Montserrat-Regular';  src: local('Montserrat-Regular'), url('https://nomail.com.ua/files/woff/07689d4eaaa3d530d58826b5d7f84735.woff') format('woff'); }
html,body{font-family: 'GothamPro';}
.container {max-width: 1200px; margin: 0 auto;
	@media (max-width: 1200px){
		max-width: 970px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 767px){
		max-width: 80%;
	}
}
.current-link {
	color:#C8BB93;
}
.nav {

	&__row {display: flex; justify-content: space-between;
	}

	&__pin{display: none;
	@media(max-width: 992px){display: block;margin: 15px;}
	}

	&__main {margin: 22.5px;
	}

	&__bar {
		& ul {
			display: flex;
			& li {padding: 25.5px 50px;}
		}
		@media(max-width: 992px){display: none;}
		@media (max-height:379px) {font-size: 11px;}
	}

	&__burger{display: none;
		&:hover{cursor: pointer;}
		@media(max-width: 992px){display: block;padding: 15px;}
	}

	&__subbar {
		& ul {
			display: none;
			& li {padding: 22px 0 40px 90px;}
		}
		@media (max-height:379px) {font-size: 11px;}
	}
}

.connect {display: none;padding: 82px 0 91px 0;
	@media (max-width: 992px){
		display: block;
	}
	&__row {display: flex;justify-content: center;align-items: center;
	}

	&__img {
	}
	@media (max-width:640px) and (max-height: 400px) {
		padding: 52px 0 91px 0;
		&__img img{max-width: 180px;}
	}
}


.title {font-size: 40px;line-height: 45px;}
.problem {
	&__row {display: flex;justify-content: space-between;align-items: center;
		padding: 260px 0 390px 0;
		@media (max-width: 992px){
			flex-wrap: wrap;
		}
	}

	&__column {display: flex;flex-direction: column;max-width: 380px;
		@media (max-width: 992px){
			max-width: 470px;
		}
	}

	&__title {
	}

	&__text {font-size: 15px;
		&_bold {font-weight: 700;margin-top: 38px;
		}
		& p {margin: 25px 0;}
	}

	&__img {
		& img {max-width: 100%;}
		@media (max-width: 1200px){
			max-width: 600px;
		}
		@media (max-width: 992px){
			max-width: 749px;
		}
	}
	@media (max-width: 767px) and (max-height: 599px) {
		&__row {padding: 160px 0 240px 0;}
	}
	@media (max-width:640px) and (max-height: 400px) {
		&__row {padding: 60px 0 140px 0;}
	}
}

.btn {display: inline-block;padding: 12px 67px;border: 1px solid;border-radius: 100px;
	margin: 0 auto;
	&:hover{color: #C8BB93;}
}

.compare {margin-bottom: 240px;

	&__title {margin: 0 0 90px 65px;
	}

	&__row {display: flex;align-items: center;
		@media (max-width: 992px){
			flex-wrap: wrap;
		}
	}

	&__img {
		@media (max-width: 992px){
			order: 2;max-width:100%;
			& img{max-width: 100%;}
		}
	}

	&__column {display: flex;flex-direction: column;
		@media (max-width: 992px){
			order: 1;
		}
	}

	&__list {margin-bottom: 50px;

		&_item {margin-bottom: 25px;display:flex;
			&::before{content: ""; width: 12px;height: 12px;
			display:block;border-radius: 50%;margin-right: 20px;}
		}
		& #comp1::before{background-color: #BEAD7E;}
		& #comp2::before{background-color: #20B38B80;}
		& #comp3::before{background-color: #17A7F080;}
	}

	&__btn {padding: 12px 50px;

		&_row {display: flex;justify-content: center;
			&_1{
				@media(max-width: 992px){
					display: none;
				}
			}
			&_2{display: none;
				@media(max-width: 992px){
					display: flex;order: 3;margin: 0 auto;margin-top:50px;
				}
			}
		}
	}
	@media (max-width: 767px) and (max-height: 599px) {
		margin-bottom: 200px;
	}
	@media (max-width: 422px){
		&__title {margin: 0 0 90px 15px;}
		&__btn {padding: 8px 20px;}
	}
}

.solution {
	&__row {background: #F9F9F9;display: flex;justify-content: space-around;
		align-items: center;padding-bottom: 240px;
		@media (max-width: 767px){
			flex-wrap: wrap;
		}
	}

	&__column {display: flex;flex-direction: column;max-width: 380px;
		@media (max-width:992px){
			max-width: 300px;
		}
		@media (max-width: 767px){
			max-width: 400px;
		}
	}

	&__title {
	}

	&__text {

		&_bold {font-weight: 700;margin-top: 38px;
		}
		& p {margin: 25px 0;}
	}

	&__img {
		& img {max-width: 100%;}
		@media (max-width: 992px){
			max-width: 450px;
		}
	}
	@media (max-width: 767px) and (max-height: 599px) {
		&__row {padding-bottom: 170px;}
	}
	@media (max-width:640px) and (max-height: 400px) {
		&__row {padding-bottom: 70px;}
		&__img {max-width: 320px;/* & img {max-width: 100%;} */}
	}
}

.info {margin: 120px 0 290px 0;

	&__title {
		&_row {display: flex;justify-content: center;}
	}

	&__block {display: flex;justify-content: space-around;background: #f9f9f9;
		align-items: center;padding: 100px 0;overflow: hidden;
	}
	&__carousel{display: flex;justify-content: flex-start;width: 80%;
	}

	&__btn {
		&_l {padding: 34px;background: #fff;border-radius: 50%;transition: 0.25s;
			z-index: 3;position: relative;
			&:hover{box-shadow: 3px 3px #7e7878;cursor: pointer;}
		}

		&_r {padding: 34px;background: #fff;border-radius: 50%;transition: 0.25s;
			z-index: 3;position: relative;
			&:hover{box-shadow: -3px 3px #7e7878;cursor: pointer;}
		}
		@media (max-width: 600px) {
			&_l {padding: 18px;}
			&_r {padding: 18px;}
		}
		@media (max-width: 370px) {
			&_l {left: 28px;}
			&_r {right: 28px;}
		}
		@media (max-width: 346px) {
			&_l {margin-top: 110px;}
			&_r {margin-top: 110px;}
		}
	}
	&__content {display: flex;align-items: center;min-width: 60%;margin: 0 25%;
		position: relative;transition: 1s;
		@media (max-width: 1209px){
			max-width: 54%;
		}
		@media (max-width: 767px){
			flex-wrap: wrap;
		}
		@media(max-width:476px){
			max-width: 70%;margin: 0 15%;
		}
	}
	& #inf1 {display: flex;transition: 1s;}
	& #inf2 {display: none;transition: 1s;}

	&__img {
		@media (max-width:1200px){
			min-width: 240px;
			& img {max-width: 100%;padding-right: 30px;}
		}
		@media (max-width: 767px){
			order: 2;
		}
		@media(max-width:476px){
			min-width: 170px;width: 200px;
		}
	}

	&__column {
		@media (max-width: 767px){
			order: 1;margin-bottom: 15px;text-align:center;
		}
	}

	&__subtitle {font-size: 40px;line-height: 45px;
		@media(max-width: 586px){
			font-size: 30px;
		}
	}

	&__text {}
	@media (max-width: 767px) and (max-height: 599px) {
		margin: 120px 0 200px 0;
	}
	@media (max-width:640px) and (max-height: 400px) {
		margin: 120px 0 90px 0;
	}
}
@keyframes toLeft {
	0%{
		right: 0;
	}
	100%{
		right: 105%;
	}
}
@keyframes fromLeft {
	0%{
		right: 105%;
	}
	100%{
		right: 0;
	}
}
@keyframes toRight {
	0%{
		left: 0;
	}
	100%{
		left: 105%;
	}
}
@keyframes fromRight {
	0%{
		left: 105%;
	}
	100%{
		left: 0;
	}
}


.upd {

	&__row {display: flex;justify-content: space-around;align-items: center;
		margin-bottom: 170px;
		@media(max-width: 992px){
			justify-content: space-between;
		}
		@media(max-width: 767px){
			flex-wrap: wrap;justify-content:center;
		}
	}

	&__column {display: flex;flex-direction: column;max-width: 405px;
		@media(max-width: 992px){
			max-width: 300px;
		}
	}

	&__title {margin-bottom: 40px;
	}

	&__text {
		& p {margin-bottom: 25px;}
	}

	&__img {
		& img{max-width: 100%;}
		@media(max-width: 992px){
			max-width: 345px;
		}
		@media (max-width:640px) and (max-height: 400px) {
			max-width: 250px;
		}
	}
}


.footer {
	&__column {display: flex;flex-direction: column;
	}

	&__row1 {display: flex; justify-content: space-between;margin-bottom: 70px;
		@media(max-width:767px){justify-content: center;}
	}

	&__logo {
		@media(max-width:992px){display: none;}
	}

	&__subscribe {display: flex;flex-direction: column;
		& h3 {margin: 0 0 29px 0;}
		@media(max-width:992px){flex-direction: row;
			& h3{margin: 0 20px 0 0;align-self: center;}
		}
		@media(max-width:767px){flex-direction: column;
			& h3{margin: 0 0 20px 0;}
		}
	}

	&__form {display: flex;
		& input {background: rgba(192, 173, 189, 0.1);height: 40px;width: 400px;}
		& button {background-color: #000;color: #fff;border-radius: 4px;
			padding: 12px 30px;margin-left: 20px;cursor: pointer;
				& p {margin: 12px 0 0 0;}
		}
		@media(max-width: 992px){
			& input {width: 160px;height: 25px;}
			& button {padding: 5px 15px;}
		}
		@media(max-width: 767px){
			& input {width: 200px;height: 40px;}
			& button {padding: 12px 30px;}
		}
		@media(max-width: 482px){
			& input {width: 160px;height: 25px;}
			& button {padding: 5px 15px;}
		}
		@media(max-width: 394px){
			& input {width: 130px;height: 25px;}
			& button {padding: 5px 5px;margin-left: 5px;}
		}
	}

	&__lang {display: flex;
		& p:first-child{color: #C8BB93;
			&::after {
				content: "";
				width: 1px;
				height: 20px;
				border: 1px solid #000;
				margin: 0 11px;
				cursor: default;
			}
		}
		&:hover{cursor: pointer;}
		@media(max-width:767px){display: none;}
		&_2{display: flex;
			& p:first-child{color: #C8BB93;
				&::after {
					content: "";
					width: 1px;
					height: 20px;
					border: 1px solid #000;
					margin: 0 11px;
					cursor: default;
				}
			}
			&:hover{cursor: pointer;}
			@media(min-width:768px){display: none;}
			@media(max-width: 459px){margin-top: 25px;}
		}
	}

	&__row2 {display: flex;
		@media (max-width: 992px){
			flex-wrap: wrap;justify-content:space-between
		}
	}

	&__apps {display: flex;flex-direction: column;margin-top: -15px;
		@media (max-width: 992px){
			order: 2;
		}
		@media(max-width: 767px){flex-direction: row;justify-content:space-between;flex-basis: 90%;}
	}

	&__ios {display: flex;margin-bottom: 25px;
		& .text__col{display: flex;flex-direction: column;flex: 0 1 60%;margin-left: 17px;line-height: 21px;
			& span {color: #AAAAAA;}
		}
		& img{height: 50%;}
	}

	&__android {display: flex;
		& .text__col{display: flex;flex-direction: column;flex: 0 1 60%;margin-left: 17px;line-height: 21px;
			& span {color: #AAAAAA;}
		}
		& img{height: 50%;}
	}

	&__subrow {display: flex;justify-content: space-around;
		@media (max-width: 992px){
			order: 1;margin-bottom: 40px;
		}
		@media(max-width: 767px){flex-wrap: wrap;}
	}

	&__item {margin: 0 40px;font-size: 14px;
		& ul {margin-top: 23px;
			& li {margin: 17px 0;font-size: 13px;color: #AAAAAA;cursor: pointer;}
		}
		@media(max-width: 767px){flex: 0 1 120px;margin-bottom: 30px}
		@media(max-width: 547px){flex-basis: 120px;margin: 10px 20px;font-size: 11px;
			& ul li {font-size: 10px;}
		}
		@media(max-width: 416px){margin: 10px 10px;}
		@media(max-width: 367px){margin: 10px 0;flex-basis: 90px}
	}

	&__adress {text-align: right;flex: 0 1 285px;
		& img {justify-self: end;margin-bottom: 30px;cursor: pointer;
		@media(max-width:361px){height: 40%;}
		}
		@media (max-width: 992px){
			order: 3;
		}
		@media(max-width: 767px){display: flex;margin-top: 50px;justify-content:space-between;
		flex-basis: 90%;}
	}

	&__info {justify-self: center;text-align: center;max-width: 70%;align-self: center;
		color: #AAAAAA;margin: 80px 0 50px 0;
		@media (max-width: 992px){
			max-width: 90%;
		}
		@media (max-width: 459px){
			margin: 40px 0 20px 0;
		}
	}
}