/*CSS Reset*/
* {
margin: 0;
padding: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear-{display: none;}  /* В эксплорере убирает крестик в поле ввода */
button{cursor: pointer;}
button-moz-focus-inner {padding: 0;border: 0;}  /* В фаерфоксе убирает лишние отступы в кнопках */
a, a:visited{text-decoration: none;color: #000;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*---------------*/
@font-face { font-family: 'GothamPro';  src: local('GothamPro'), url('https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff') format('woff'); }
@font-face { font-family: 'Montserrat-Regular';  src: local('Montserrat-Regular'), url('https://nomail.com.ua/files/woff/07689d4eaaa3d530d58826b5d7f84735.woff') format('woff'); }
html,body{font-family: 'GothamPro';}
.container {max-width: 1200px; margin: 0 auto;
	@media (max-width: 1200px){
		max-width: 970px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 767px){
		max-width: 80%;
	}
}
.current-link {
	color:#C8BB93;
}
.nav {

	&__row {display: flex; justify-content: space-between;
	}

	&__pin{display: none;
	@media(max-width: 992px){display: block;margin: 15px;}
	}

	&__main {margin: 22.5px;
	}

	&__bar {
		& ul {
			display: flex;
			& li {padding: 25.5px 50px;}
		}
		@media(max-width: 992px){display: none;}
		@media (max-height:379px) {font-size: 11px;}
	}

	&__burger{display: none;
		&:hover{cursor: pointer;}
		@media(max-width: 992px){display: block;padding: 15px;}
	}

	&__subbar {
		& ul {
			display: none;
			& li {padding: 22px 0 40px 90px;}
		}
		@media (max-height:379px) {font-size: 11px;}
	}
}
.heading {
	background: no-repeat center url("../Source/Image\ Plonq\ 500.png");
	display: flex;
	align-items: center;
	&__column {
		display: flex;
		flex-direction: column;
		margin: 370px 0 300px;
	}
	&__logo {margin: 0 0 35px 0;}
	&__logo img {width: 332px;}
	&__logo::before {
		content: url("../Source/New.png");
		position: relative;
		bottom: 25px;
		/* min- */width: 55px;
		/* min- */height: 17px;
	}
	& h1 {margin-left:57px;font-size: 32px;line-height: 34px;color: #fff;margin-bottom: 65px;}
	&__btn {
		&_row {
			display: flex;
			margin-left: 55px;
			align-items: center;
			justify-content: space-between;
			& .details {color: #fff; 
				&::after{content: url("../Source/Vector.png");}
			}
			& .btn {color: #fff;}
		}
	}
	& .container {margin: 0 200px;}
}

.details{font-size: 15px;line-height: 21px;cursor: pointer;
	&::after{
		content: url("../Source/Arrow.png");
		width: 1px;
		height: 2px;
		margin: 0 0 0 15px;
	}
}
.btn {
	font-size: 13px;
	line-height: 24px;
	padding: 10px 66px;
	border: 2px solid;
	border-radius: 100px;
	cursor: pointer;
	&:hover{color: #C8BB93;}
}

.plonqx {
	&__row {display: flex;
		margin: 200px 0;
		justify-content: center;
	}
	&__col {display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 55px;
		min-width: 405px;
	}
	&__logo {position: relative;bottom: 61px;
		& img{max-width: 100%;}
	}
	&__text {font-size: 32px;font-weight: 300;line-height: 44px;
		margin: 0 0 68px 0;
	}
	&__btn {
		&_row {display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__soon {margin-right: 60px;
	}
}
.soon {color: #C8BB93;}

.models {

	&__row {display: flex;justify-content: space-between;margin-bottom: 100px;
		& #row1{margin: 0 9.8vw 0 110px;}
	}
	&__item {

		&_row {display: flex; align-items: center;
		}
		&_col {display: flex; flex-direction: column;margin: 0 0 0 56px;
		}
	}

	&__img img{max-width: 100%;max-height: 100%;}

	&__logo {width: 185px;
		& img {max-width: 100%;}
	}

	&__text {margin: 55px 0 20px 0;
	}

	&__price {font-family: 'Montserrat-Regular';font-weight: 600;font-size: 21px;
		line-height: 30px;
	}

	&__btn {margin-top: 43px; width: 208px;
	}

	&__soon {margin-top: 85px;
	}
}

.map {
	&__col {display: flex; flex-direction: column;background: rgba(192, 173, 189, 0.062);
		align-items: center;
	}

	&__img {
		& img {max-width: 100%;}
	}

	&__text {font-size: 22px;line-height: 32px;margin: 36px auto;
	}

	&__btn {margin-bottom: 45px;
	}
}

.about {
	&_col {display: flex;flex-direction: column;flex: 0 0 55%;
	}

	&__row {display: flex;margin: 32px 0 254px 0;justify-content: space-between;
	}

	&__item {display: flex;background: rgba(192, 173, 189, 0.062); align-items: center;
		justify-content: space-around; flex: 0 1 46%;
	}

	&__head {font-size: 23px;line-height: 28px;
	}

	&__text {font-size: 15px;line-height: 21px;margin: 28px 0 53px 0;	
	}

	&__details {font-weight: 600;font-size: 15px;line-height: 21px;
	}

	&__img {
		&_1 img{max-height: 100%;}
		&_2 img{max-height: 100%;}
	}
}

@media (max-width:1200px) {
	.heading{
		&__column{margin: 250px 0 170px;}
	}
	.models{
		&__row {& #row1{margin: 0 11vw 0 0;}}
		&__item {&_col {margin: 0;}}
	}
}
@media (max-width: 992px) {				//look 4 960 in maquette, h ~ 800
	.heading {
		justify-content: center;align-items: flex-start;background-size: 1700px;
		background-position: -600px;
		&__column {text-align: center;margin: 50px 0 550px;max-width: 340px;}
		&__logo{
			& img {width: 218px;}
			&::before {right: 1px;bottom: 15px;}
		}
		& h1 {margin-left: 0;font-size: 25px;line-height: 32px;}
		&__btn {
			&_row {margin-left: 0;position: relative;top:520px;
				& .btn {padding: 5px 40px;color:#000;}
				& .details {color: #000; 
					&::after{content: url("../Source/Arrow.png");}
				}
			}
		}
	}
	.plonqx{
		&__row{flex-direction: column;}
		&__col{text-align: center;margin: 0;}
		&__logo{width: 230px;bottom: 30px;margin: 0 auto;}
		&__text{font-size: 28px;line-height: 34px;margin: 0 0 8px 0;}
		&__img{width: 380px;margin: 0 auto;
			& img{max-width: 100%;}
		}
		&__btn {
			&_row {position: relative;top: 600px;width: 400px;margin: 0 auto;}
		}
	}
	.models{
		&__row{flex-wrap: wrap;justify-content: center;& #row1{margin: 0}}
	}
	.map{
		&__col {text-align: center;}
	}
	.about{
		&__row{flex-direction: column;}
		&_col{flex: 0 1 250px;}
		&__item:first-child{margin-bottom: 100px;}
	}
}
@media (max-width:800px) {					//h > 600
	.heading{
		background-position: -725px;
	}
}
@media (max-width:800px) and (max-height: 599px) {					//h 480
	.heading{
		background-size: 1200px;background-position: -390px 0px;
		&__column{margin: 50px 0 330px;}
		&__btn {&_row {top:310px;}}
	}
	.plonqx{
		&__logo{width: 186px;bottom: 15px;}
		&__text{font-size: 25px;line-height: 32px;margin: 0 0 8px 0;}
		&__img{width: 300px;margin: 0 auto;
			& img{max-width: 100%;}
		}
		&__btn {
			&_row {top: 500px;width: 400px;margin: 0 auto;}
		}
	}
}
@media (max-width:700px) {					//h 600
	.heading{
		& .container {margin: 0 0;}
	}
}
@media (max-width:640px) {					//h 600
	.heading{
		background-position: -795px -40px;
	}
	.models{
		&__row{& #row1{margin: 100px 0;}}
		&__item {
			&_row {flex-direction: column;flex-basis: 100%;text-align: center;
				margin-bottom: 60px;
			}
		}
		&__text{margin-top: -60px;}
		&__logo{position: relative;bottom: 580px;}
		&__btn {margin-top: 23px;}
		&__soon {margin: 25px 0 40px;}
	}
}
@media (max-width:640px) and (max-height: 599px) {					//h 480
	.heading{
		background-size: 1000px;background-position: -340px 0;
		&__column{margin: 50px 0 300px;}
		&__logo{margin: 0 0 10px 0;
			& img {width: 200px;}
		}
		&__btn {&_row {top:280px;}}
		& h1 {margin-left: 0;font-size: 22px;line-height: 30px;}
	}
	.plonqx{
		&__row{margin: 100px 0;}
		&__logo{width: 190px;bottom: 15px;}
		&__img{width: 220px;margin: 0 auto;}
		&__btn {
			&_row {top: 370px;width: 400px;margin: 0 auto;}
		}
	}
	.models{
		&__img{height: 400px;}
		&__logo{position: relative;bottom: 440px;}
	}
	.about{
		&__row{margin-bottom: 180px;}
		&__img{
			&_1{height: 400px;}
			&_2{height: 350px;}
		}
		&__head {font-size: 18px;line-height: 24px;}
		&__text {font-size: 14px;line-height: 20px;}
	}
}
@media (max-width:480px){									//h 800
	.plonqx{
		&__col{min-width: unset;}
		&__img{width: 250px;}
		&__btn {&_row {top: 390px;font-size: 12px;width: 300px;margin: 0;}}
	}
}
@media (max-width:450px)and (min-height:600px){
	.plonqx{
		&__text{font-size: 24px;}
		&__col{margin-left: -40px;}
		&__btn_row{margin-left: 40px;}
	}
}
@media (max-width:425px) and (max-height: 599px) {
	.heading{
		background-position: -440px 0;
		&__btn {&_row {& .btn {padding: 2px 30px;}}}
	}
	.plonqx{
		&__col{max-width: 100%;}
		&__btn {&_row {/* display:block; */max-width: 280px;}}
		&__details {width: 100px;/* display:inline-block; */
			&::after{margin: 0;}
		}
		&__soon {display:inline-block;margin-right: 0;}
	}
	.about{
		&__row{margin-bottom: 150px;}
		&_col{flex: 0 1 200px;}
		&__img{
			&_1{height: 360px;}
			&_2{height: 270px;}
		}
		&__head {font-size: 16px;line-height: 22px;}
		&__text {font-size: 12px;line-height: 19px;}
	}
}
@media (max-width:425px) and (max-height: 380px) {
	.heading{
		background-size: 800px;background-position: -310px 0;
		&__logo{margin: 0 25px 10px 0;
			& img {width: 170px;}
		}
		& h1 {font-size: 20px;line-height: 28px;}
		&__btn {&_row {top:180px;}}
		&__column{margin: 30px 0 200px;}
	}
	.plonqx{
		&__logo{width: 130px;bottom: 15px;}
		&__text{font-size: 22px;line-height: 30px;}
		&__img{width: 250px;margin: 0 auto;
			& img{max-width: 100%;}
		}
		&__btn {
			&_row {top: 400px;width: 350px;}
		}
	}
	.models{
		&__img{height: 300px;}
		&__logo{position: relative;bottom: 340px;width: 130px;margin: 0 auto;}
		&__btn {padding: 5px 0;}
		&__soon {margin: 25px 0 40px;}
		&__text {margin: -30px 0 20px 0;}
	}
}
@media (max-width:400px) and (min-height:600px){
	.heading{
		background-position: -910px 0;
	}
}
@media (max-width:341px) and (max-height: 480px){			//320*240
	.heading{
		background-size: 800px;background-position: -360px 0;
		&__logo{margin: 0 25px 10px 0;
			& img {width: 170px;}
		}
		& h1 {font-size: 18px;line-height: 26px;}
		&__btn {&_row {top:180px;
			& .btn {padding: 0 15px;font-size: 11px;}
			& .details {font-size: 12px;}}
		}
		&__column{margin: 30px 0 200px;}
		&__logo{
			& img {width: 45vw;}
		}
	}
	.plonqx{
		&__col{margin-left: 0;}
		&__logo{width: 130px;}
		&__text{font-size: 20px;line-height: 28px;}
		&__img{width: 200px;}
		&__btn {
			&_row {top: 320px;width: 220px;margin-left: 30px;}
		}
	}
	.models{
		&__img{height: 200px;}
		&__logo{position: relative;bottom: 240px;width: 130px;margin: 0 auto;}
	}
	.about{
		&__row{margin-bottom: 150px;}
		//&_col{flex: 0 1 200px;}
		&__img{
			&_1{height: 300px;}
			&_2{height: 210px;}
		}
		//&__head {font-size: 16px;line-height: 22px;}
		//&__text {font-size: 12px;line-height: 19px;}
	}
}

.footer {
	&__column {display: flex;flex-direction: column;
	}

	&__row1 {display: flex; justify-content: space-between;margin-bottom: 70px;
		@media(max-width:767px){justify-content: center;}
	}

	&__logo {
		@media(max-width:992px){display: none;}
	}

	&__subscribe {display: flex;flex-direction: column;
		& h3 {margin: 0 0 29px 0;}
		@media(max-width:992px){flex-direction: row;
			& h3{margin: 0 20px 0 0;align-self: center;}
		}
		@media(max-width:767px){flex-direction: column;
			& h3{margin: 0 0 20px 0;}
		}
	}

	&__form {display: flex;
		& input {background: rgba(192, 173, 189, 0.1);height: 40px;width: 400px;}
		& button {background-color: #000;color: #fff;border-radius: 4px;
			padding: 12px 30px;margin-left: 20px;cursor: pointer;
				& p {margin: 12px 0 0 0;}
		}
		@media(max-width: 992px){
			& input {width: 160px;height: 25px;}
			& button {padding: 5px 15px;}
		}
		@media(max-width: 767px){
			& input {width: 200px;height: 40px;}
			& button {padding: 12px 30px;}
		}
		@media(max-width: 482px){
			& input {width: 160px;height: 25px;}
			& button {padding: 5px 15px;}
		}
		@media(max-width: 394px){
			& input {width: 130px;height: 25px;}
			& button {padding: 5px 5px;margin-left: 5px;}
		}
	}

	&__lang {display: flex;
		& p:first-child{color: #C8BB93;
			&::after {
				content: "";
				width: 1px;
				height: 20px;
				border: 1px solid #000;
				margin: 0 11px;
				cursor: default;
			}
		}
		&:hover{cursor: pointer;}
		@media(max-width:767px){display: none;}
		&_2{display: flex;
			& p:first-child{color: #C8BB93;
				&::after {
					content: "";
					width: 1px;
					height: 20px;
					border: 1px solid #000;
					margin: 0 11px;
					cursor: default;
				}
			}
			&:hover{cursor: pointer;}
			@media(min-width:768px){display: none;}
			@media(max-width: 459px){margin-top: 25px;}
		}
	}

	&__row2 {display: flex;
		@media (max-width: 992px){
			flex-wrap: wrap;justify-content:space-between
		}
	}

	&__apps {display: flex;flex-direction: column;margin-top: -15px;
		@media (max-width: 992px){
			order: 2;
		}
		@media(max-width: 767px){flex-direction: row;justify-content:space-between;flex-basis: 90%;}
	}

	&__ios {display: flex;margin-bottom: 25px;
		& .text__col{display: flex;flex-direction: column;flex: 0 1 60%;margin-left: 17px;line-height: 21px;
			& span {color: #AAAAAA;}
		}
		& img{height: 50%;}
	}

	&__android {display: flex;
		& .text__col{display: flex;flex-direction: column;flex: 0 1 60%;margin-left: 17px;line-height: 21px;
			& span {color: #AAAAAA;}
		}
		& img{height: 50%;}
	}

	&__subrow {display: flex;justify-content: space-around;
		@media (max-width: 992px){
			order: 1;margin-bottom: 40px;
		}
		@media(max-width: 767px){flex-wrap: wrap;}
	}

	&__item {margin: 0 40px;font-size: 14px;
		& ul {margin-top: 23px;
			& li {margin: 17px 0;font-size: 13px;color: #AAAAAA;cursor: pointer;}
		}
		@media(max-width: 767px){flex: 0 1 120px;margin-bottom: 30px}
		@media(max-width: 547px){flex-basis: 120px;margin: 10px 20px;font-size: 11px;
			& ul li {font-size: 10px;}
		}
		@media(max-width: 416px){margin: 10px 10px;}
		@media(max-width: 367px){margin: 10px 0;flex-basis: 90px}
	}

	&__adress {text-align: right;flex: 0 1 285px;
		& img {justify-self: end;margin-bottom: 30px;cursor: pointer;
		@media(max-width:361px){height: 40%;}
		}
		@media (max-width: 992px){
			order: 3;
		}
		@media(max-width: 767px){display: flex;margin-top: 50px;justify-content:space-between;
		flex-basis: 90%;}
	}

	&__info {justify-self: center;text-align: center;max-width: 70%;align-self: center;
		color: #AAAAAA;margin: 80px 0 50px 0;
		@media (max-width: 992px){
			max-width: 90%;
		}
		@media (max-width: 459px){
			margin: 40px 0 20px 0;
		}
	}
}
