@charset "UTF-8";
/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear- {
  display: none;
}

/* В эксплорере убирает крестик в поле ввода */
button {
  cursor: pointer;
}

button-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* В фаерфоксе убирает лишние отступы в кнопках */
a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------*/
@font-face {
  font-family: 'GothamPro';
  src: local("GothamPro"), url("https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local("Montserrat-Regular"), url("https://nomail.com.ua/files/woff/07689d4eaaa3d530d58826b5d7f84735.woff") format("woff");
}

html, body {
  font-family: 'GothamPro';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 80%;
  }
}

.current-link {
  color: #C8BB93;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__pin {
  display: none;
}

@media (max-width: 992px) {
  .nav__pin {
    display: block;
    margin: 15px;
  }
}

.nav__main {
  margin: 22.5px;
}

.nav__bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__bar ul li {
  padding: 25.5px 50px;
}

@media (max-width: 992px) {
  .nav__bar {
    display: none;
  }
}

@media (max-height: 379px) {
  .nav__bar {
    font-size: 11px;
  }
}

.nav__burger {
  display: none;
}

.nav__burger:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav__burger {
    display: block;
    padding: 15px;
  }
}

.nav__subbar ul {
  display: none;
}

.nav__subbar ul li {
  padding: 22px 0 40px 90px;
}

@media (max-height: 379px) {
  .nav__subbar {
    font-size: 11px;
  }
}

.heading {
  background: no-repeat center url("../Source/Image Plonq 500.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 370px 0 300px;
}

.heading__logo {
  margin: 0 0 35px 0;
}

.heading__logo img {
  width: 332px;
}

.heading__logo::before {
  content: url("../Source/New.png");
  position: relative;
  bottom: 25px;
  /* min- */
  width: 55px;
  /* min- */
  height: 17px;
}

.heading h1 {
  margin-left: 57px;
  font-size: 32px;
  line-height: 34px;
  color: #fff;
  margin-bottom: 65px;
}

.heading__btn_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading__btn_row .details {
  color: #fff;
}

.heading__btn_row .details::after {
  content: url("../Source/Vector.png");
}

.heading__btn_row .btn {
  color: #fff;
}

.heading .container {
  margin: 0 200px;
}

.details {
  font-size: 15px;
  line-height: 21px;
  cursor: pointer;
}

.details::after {
  content: url("../Source/Arrow.png");
  width: 1px;
  height: 2px;
  margin: 0 0 0 15px;
}

.btn {
  font-size: 13px;
  line-height: 24px;
  padding: 10px 66px;
  border: 2px solid;
  border-radius: 100px;
  cursor: pointer;
}

.btn:hover {
  color: #C8BB93;
}

.plonqx__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 200px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plonqx__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 55px;
  min-width: 405px;
}

.plonqx__logo {
  position: relative;
  bottom: 61px;
}

.plonqx__logo img {
  max-width: 100%;
}

.plonqx__text {
  font-size: 32px;
  font-weight: 300;
  line-height: 44px;
  margin: 0 0 68px 0;
}

.plonqx__btn_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plonqx__soon {
  margin-right: 60px;
}

.soon {
  color: #C8BB93;
}

.models__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.models__row #row1 {
  margin: 0 9.8vw 0 110px;
}

.models__item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.models__item_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 56px;
}

.models__img img {
  max-width: 100%;
  max-height: 100%;
}

.models__logo {
  width: 185px;
}

.models__logo img {
  max-width: 100%;
}

.models__text {
  margin: 55px 0 20px 0;
}

.models__price {
  font-family: 'Montserrat-Regular';
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
}

.models__btn {
  margin-top: 43px;
  width: 208px;
}

.models__soon {
  margin-top: 85px;
}

.map__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(192, 173, 189, 0.062);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__img img {
  max-width: 100%;
}

.map__text {
  font-size: 22px;
  line-height: 32px;
  margin: 36px auto;
}

.map__btn {
  margin-bottom: 45px;
}

.about_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0 254px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(192, 173, 189, 0.062);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

.about__head {
  font-size: 23px;
  line-height: 28px;
}

.about__text {
  font-size: 15px;
  line-height: 21px;
  margin: 28px 0 53px 0;
}

.about__details {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}

.about__img_1 img {
  max-height: 100%;
}

.about__img_2 img {
  max-height: 100%;
}

@media (max-width: 1200px) {
  .heading__column {
    margin: 250px 0 170px;
  }
  .models__row #row1 {
    margin: 0 11vw 0 0;
  }
  .models__item_col {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .heading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-size: 1700px;
    background-position: -600px;
  }
  .heading__column {
    text-align: center;
    margin: 50px 0 550px;
    max-width: 340px;
  }
  .heading__logo img {
    width: 218px;
  }
  .heading__logo::before {
    right: 1px;
    bottom: 15px;
  }
  .heading h1 {
    margin-left: 0;
    font-size: 25px;
    line-height: 32px;
  }
  .heading__btn_row {
    margin-left: 0;
    position: relative;
    top: 520px;
  }
  .heading__btn_row .btn {
    padding: 5px 40px;
    color: #000;
  }
  .heading__btn_row .details {
    color: #000;
  }
  .heading__btn_row .details::after {
    content: url("../Source/Arrow.png");
  }
  .plonqx__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plonqx__col {
    text-align: center;
    margin: 0;
  }
  .plonqx__logo {
    width: 230px;
    bottom: 30px;
    margin: 0 auto;
  }
  .plonqx__text {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 8px 0;
  }
  .plonqx__img {
    width: 380px;
    margin: 0 auto;
  }
  .plonqx__img img {
    max-width: 100%;
  }
  .plonqx__btn_row {
    position: relative;
    top: 600px;
    width: 400px;
    margin: 0 auto;
  }
  .models__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .models__row #row1 {
    margin: 0;
  }
  .map__col {
    text-align: center;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
  }
  .about__item:first-child {
    margin-bottom: 100px;
  }
}

@media (max-width: 800px) {
  .heading {
    background-position: -725px;
  }
}

@media (max-width: 800px) and (max-height: 599px) {
  .heading {
    background-size: 1200px;
    background-position: -390px 0px;
  }
  .heading__column {
    margin: 50px 0 330px;
  }
  .heading__btn_row {
    top: 310px;
  }
  .plonqx__logo {
    width: 186px;
    bottom: 15px;
  }
  .plonqx__text {
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 8px 0;
  }
  .plonqx__img {
    width: 300px;
    margin: 0 auto;
  }
  .plonqx__img img {
    max-width: 100%;
  }
  .plonqx__btn_row {
    top: 500px;
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .heading .container {
    margin: 0 0;
  }
}

@media (max-width: 640px) {
  .heading {
    background-position: -795px -40px;
  }
  .models__row #row1 {
    margin: 100px 0;
  }
  .models__item_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  .models__text {
    margin-top: -60px;
  }
  .models__logo {
    position: relative;
    bottom: 580px;
  }
  .models__btn {
    margin-top: 23px;
  }
  .models__soon {
    margin: 25px 0 40px;
  }
}

@media (max-width: 640px) and (max-height: 599px) {
  .heading {
    background-size: 1000px;
    background-position: -340px 0;
  }
  .heading__column {
    margin: 50px 0 300px;
  }
  .heading__logo {
    margin: 0 0 10px 0;
  }
  .heading__logo img {
    width: 200px;
  }
  .heading__btn_row {
    top: 280px;
  }
  .heading h1 {
    margin-left: 0;
    font-size: 22px;
    line-height: 30px;
  }
  .plonqx__row {
    margin: 100px 0;
  }
  .plonqx__logo {
    width: 190px;
    bottom: 15px;
  }
  .plonqx__img {
    width: 220px;
    margin: 0 auto;
  }
  .plonqx__btn_row {
    top: 370px;
    width: 400px;
    margin: 0 auto;
  }
  .models__img {
    height: 400px;
  }
  .models__logo {
    position: relative;
    bottom: 440px;
  }
  .about__row {
    margin-bottom: 180px;
  }
  .about__img_1 {
    height: 400px;
  }
  .about__img_2 {
    height: 350px;
  }
  .about__head {
    font-size: 18px;
    line-height: 24px;
  }
  .about__text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .plonqx__col {
    min-width: unset;
  }
  .plonqx__img {
    width: 250px;
  }
  .plonqx__btn_row {
    top: 390px;
    font-size: 12px;
    width: 300px;
    margin: 0;
  }
}

@media (max-width: 450px) and (min-height: 600px) {
  .plonqx__text {
    font-size: 24px;
  }
  .plonqx__col {
    margin-left: -40px;
  }
  .plonqx__btn_row {
    margin-left: 40px;
  }
}

@media (max-width: 425px) and (max-height: 599px) {
  .heading {
    background-position: -440px 0;
  }
  .heading__btn_row .btn {
    padding: 2px 30px;
  }
  .plonqx__col {
    max-width: 100%;
  }
  .plonqx__btn_row {
    /* display:block; */
    max-width: 280px;
  }
  .plonqx__details {
    width: 100px;
    /* display:inline-block; */
  }
  .plonqx__details::after {
    margin: 0;
  }
  .plonqx__soon {
    display: inline-block;
    margin-right: 0;
  }
  .about__row {
    margin-bottom: 150px;
  }
  .about_col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
  .about__img_1 {
    height: 360px;
  }
  .about__img_2 {
    height: 270px;
  }
  .about__head {
    font-size: 16px;
    line-height: 22px;
  }
  .about__text {
    font-size: 12px;
    line-height: 19px;
  }
}

@media (max-width: 425px) and (max-height: 380px) {
  .heading {
    background-size: 800px;
    background-position: -310px 0;
  }
  .heading__logo {
    margin: 0 25px 10px 0;
  }
  .heading__logo img {
    width: 170px;
  }
  .heading h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .heading__btn_row {
    top: 180px;
  }
  .heading__column {
    margin: 30px 0 200px;
  }
  .plonqx__logo {
    width: 130px;
    bottom: 15px;
  }
  .plonqx__text {
    font-size: 22px;
    line-height: 30px;
  }
  .plonqx__img {
    width: 250px;
    margin: 0 auto;
  }
  .plonqx__img img {
    max-width: 100%;
  }
  .plonqx__btn_row {
    top: 400px;
    width: 350px;
  }
  .models__img {
    height: 300px;
  }
  .models__logo {
    position: relative;
    bottom: 340px;
    width: 130px;
    margin: 0 auto;
  }
  .models__btn {
    padding: 5px 0;
  }
  .models__soon {
    margin: 25px 0 40px;
  }
  .models__text {
    margin: -30px 0 20px 0;
  }
}

@media (max-width: 400px) and (min-height: 600px) {
  .heading {
    background-position: -910px 0;
  }
}

@media (max-width: 341px) and (max-height: 480px) {
  .heading {
    background-size: 800px;
    background-position: -360px 0;
  }
  .heading__logo {
    margin: 0 25px 10px 0;
  }
  .heading__logo img {
    width: 170px;
  }
  .heading h1 {
    font-size: 18px;
    line-height: 26px;
  }
  .heading__btn_row {
    top: 180px;
  }
  .heading__btn_row .btn {
    padding: 0 15px;
    font-size: 11px;
  }
  .heading__btn_row .details {
    font-size: 12px;
  }
  .heading__column {
    margin: 30px 0 200px;
  }
  .heading__logo img {
    width: 45vw;
  }
  .plonqx__col {
    margin-left: 0;
  }
  .plonqx__logo {
    width: 130px;
  }
  .plonqx__text {
    font-size: 20px;
    line-height: 28px;
  }
  .plonqx__img {
    width: 200px;
  }
  .plonqx__btn_row {
    top: 320px;
    width: 220px;
    margin-left: 30px;
  }
  .models__img {
    height: 200px;
  }
  .models__logo {
    position: relative;
    bottom: 240px;
    width: 130px;
    margin: 0 auto;
  }
  .about__row {
    margin-bottom: 150px;
  }
  .about__img_1 {
    height: 300px;
  }
  .about__img_2 {
    height: 210px;
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .footer__row1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .footer__logo {
    display: none;
  }
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__subscribe h3 {
  margin: 0 0 29px 0;
}

@media (max-width: 992px) {
  .footer__subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__subscribe h3 {
    margin: 0 20px 0 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 767px) {
  .footer__subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__subscribe h3 {
    margin: 0 0 20px 0;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form input {
  background: rgba(192, 173, 189, 0.1);
  height: 40px;
  width: 400px;
}

.footer__form button {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 12px 30px;
  margin-left: 20px;
  cursor: pointer;
}

.footer__form button p {
  margin: 12px 0 0 0;
}

@media (max-width: 992px) {
  .footer__form input {
    width: 160px;
    height: 25px;
  }
  .footer__form button {
    padding: 5px 15px;
  }
}

@media (max-width: 767px) {
  .footer__form input {
    width: 200px;
    height: 40px;
  }
  .footer__form button {
    padding: 12px 30px;
  }
}

@media (max-width: 482px) {
  .footer__form input {
    width: 160px;
    height: 25px;
  }
  .footer__form button {
    padding: 5px 15px;
  }
}

@media (max-width: 394px) {
  .footer__form input {
    width: 130px;
    height: 25px;
  }
  .footer__form button {
    padding: 5px 5px;
    margin-left: 5px;
  }
}

.footer__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__lang p:first-child {
  color: #C8BB93;
}

.footer__lang p:first-child::after {
  content: "";
  width: 1px;
  height: 20px;
  border: 1px solid #000;
  margin: 0 11px;
  cursor: default;
}

.footer__lang:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .footer__lang {
    display: none;
  }
}

.footer__lang_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__lang_2 p:first-child {
  color: #C8BB93;
}

.footer__lang_2 p:first-child::after {
  content: "";
  width: 1px;
  height: 20px;
  border: 1px solid #000;
  margin: 0 11px;
  cursor: default;
}

.footer__lang_2:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer__lang_2 {
    display: none;
  }
}

@media (max-width: 459px) {
  .footer__lang_2 {
    margin-top: 25px;
  }
}

.footer__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .footer__row2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -15px;
}

@media (max-width: 992px) {
  .footer__apps {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .footer__apps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

.footer__ios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.footer__ios .text__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  margin-left: 17px;
  line-height: 21px;
}

.footer__ios .text__col span {
  color: #AAAAAA;
}

.footer__ios img {
  height: 50%;
}

.footer__android {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__android .text__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  margin-left: 17px;
  line-height: 21px;
}

.footer__android .text__col span {
  color: #AAAAAA;
}

.footer__android img {
  height: 50%;
}

.footer__subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 992px) {
  .footer__subrow {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .footer__subrow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__item {
  margin: 0 40px;
  font-size: 14px;
}

.footer__item ul {
  margin-top: 23px;
}

.footer__item ul li {
  margin: 17px 0;
  font-size: 13px;
  color: #AAAAAA;
  cursor: pointer;
}

@media (max-width: 767px) {
  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 120px;
            flex: 0 1 120px;
    margin-bottom: 30px;
  }
}

@media (max-width: 547px) {
  .footer__item {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    margin: 10px 20px;
    font-size: 11px;
  }
  .footer__item ul li {
    font-size: 10px;
  }
}

@media (max-width: 416px) {
  .footer__item {
    margin: 10px 10px;
  }
}

@media (max-width: 367px) {
  .footer__item {
    margin: 10px 0;
    -ms-flex-preferred-size: 90px;
        flex-basis: 90px;
  }
}

.footer__adress {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 285px;
          flex: 0 1 285px;
}

.footer__adress img {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-bottom: 30px;
  cursor: pointer;
}

@media (max-width: 361px) {
  .footer__adress img {
    height: 40%;
  }
}

@media (max-width: 992px) {
  .footer__adress {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 767px) {
  .footer__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

.footer__info {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  max-width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #AAAAAA;
  margin: 80px 0 50px 0;
}

@media (max-width: 992px) {
  .footer__info {
    max-width: 90%;
  }
}

@media (max-width: 459px) {
  .footer__info {
    margin: 40px 0 20px 0;
  }
}
