/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear-{display: none;}  /* В эксплорере убирает крестик в поле ввода */
button{cursor: pointer;}
button-moz-focus-inner {padding: 0;border: 0;}  /* В фаерфоксе убирает лишние отступы в кнопках */
a, a:visited{text-decoration: none;color: #000;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
	/*---------------*/
@font-face { font-family: 'GothamPro';  src: local('GothamPro'), url('https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff') format('woff'); }
@font-face { font-family: 'Montserrat-Regular';  src: local('Montserrat-Regular'), url('https://nomail.com.ua/files/woff/07689d4eaaa3d530d58826b5d7f84735.woff') format('woff'); }
html,body{font-family: 'GothamPro';}
.container {max-width: 1200px; margin: 0 auto;
	@media (max-width: 1200px){
		max-width: 970px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 767px){
		max-width: 80%;
	}
}
.nav {

	&__row {display: flex; justify-content: space-between;
	}

	&__pin{display: none;
	@media(max-width: 992px){display: block;margin: 15px;}
	}

	&__main {margin: 22.5px;
	}

	&__bar {
		& ul {
			display: flex;
			& li {padding: 25.5px 50px;}
		}
		@media(max-width: 992px){display: none;}
		@media (max-height:379px) {font-size: 11px;}
	}

	&__burger{display: none;
		&:hover{cursor: pointer;}
		@media(max-width: 992px){display: block;padding: 15px;backgroung:transparent;}
	}

	&__subbar {
		& ul {
			display: none;
			& li {padding: 22px 0 40px 90px;}
		}
		@media (max-height:379px) {font-size: 11px;}
	}
}

.heading {height: 1010px;background: no-repeat /* 800px */75% url('../Source/Holy.png'),#D4F2E8;
	@media(max-width: 768px){& {height: 480px;}}
	@media (max-width: 1284px){background-size: 600px 1008px;background-position: 98%;}
	@media(max-width: 992px){background: no-repeat 80% url('../Source/Holylighter.png'),#D4F2E8;}
	@media(max-width: 768px){background-size: 440px 480px;}
	@media(max-width: 547px){background-position: 120px;}
	@media(max-width: 481px){background-position: 70px;}
	@media(max-width: 427px){background-position:20px;}
	@media(max-width: 383px){background-position:30%;}
	&__col {display: flex;flex-direction: column;}
	&__title{margin: 490px 0 0 0;color: #298b7b9a;
		@media(max-width: 992px){& {margin: 560px 0 0 0;}}
		& h1{font-size: 32px;line-height: 44px;margin-bottom: 100px;}
		& p{color: #298b7b9a;display: none;
			&:hover{cursor: pointer;}
			@media (min-width: 800px){
				&::before{
					content: url('../Source/Arrow.svg');
					margin-right: 20px;
				}
			}
		}
		@media(min-width: 800px){
			& p {display: inline;}
		}
		@media(max-width: 768px){& {margin-top: 250px;}
			& h1{font-size: 20px;}
		}
		@media(max-width: 634px){& {margin-top: 270px;}
			& h1{font-size: 16px;line-height: 25px;}}
	}
}

.intro {

	&__title{display: none;font-size: 28px;line-height: 34px;text-transform: uppercase;
		margin-top: 50px;
	@media (max-width: 992px) {
		display: flex;justify-content:center;
	}
	@media (max-width: 342px) {
		font-size: 22px;
	}
	}
	&__row {display: flex;align-items: center;margin: 0 0 300px 0;padding-top: 240px;
		& img {margin: 0 150px 0 180px;}
		& h2 {font-size: 28px;line-height: 34px;text-transform: uppercase;}
		@media (max-width: 1200px){
			& img {margin: 0 10% 0 10%;}
		}
		@media (max-width: 992px){
			padding-top: 100px;
			& h2 {display: none;}
		}
		@media (max-width: 767px){
			margin: 0 0 100px 0;
			& img {max-height: 330px;}
		}
		@media (max-width: 620px){
			& img {margin: 0 10% 0 1%;}
		}
		@media (max-width: 500px){
			align-items: flex-start;
			& img {margin: 0 1% 0 1%;}
		}
	}

	&__column {display: flex;flex-direction: column;max-width: 50%;
		@media (max-width: 767px) {
			margin-left: 17%;
		}
	}

	&__block {padding: 0 0 50px 80px;
		& h3 {font-size: 23px;line-height: 28px;padding: 0 0 23px 0;}
		@media (max-width: 767px) {
			padding: 0 0 30px 80px;
			& h3 {font-size: 20px;}
			& p {font-size: 13px;}
		}
		@media (max-width: 590px) {
			padding-left: 60px;
		}
		@media (max-width: 500px) {
			padding: 70px 0 50px 0;
			& h3 {padding: 0 0 13px 0;}
		}
	}
	& #nosmoke {background: no-repeat top left url('../Source/No_Smoke_icon.png');}
	& #nobtn {background: no-repeat top left url('../Source/No_Button_icon.png');}
	& #noserv {background: no-repeat top left url('../Source/No_Service_icon.png');}
	& #noloose {background: no-repeat top left url('../Source/No_Loose.png');}
}

.block {

	&__row {display: flex;flex-wrap: wrap;
	}

	&__column {display: flex;flex-direction: column;
	}

	&__title {font-size: 28px;line-height: 34px;display: flex;align-items: center;
		
		& span {text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			font-size: 69px;line-height: 66px;color: #fff;margin-right: 30px;
		}
		@media (max-width: 705px) {
			font-size: 23px;
			& span {font-size: 50px;}
		}
		@media (max-width: 436px) {
			font-size: 15px;
			& span {font-size: 35px;margin-right: 15px;}
		}
	}

	&__img {
	}
	&__text {font-size: 22px;line-height: 32px;margin-left: 127px;
	@media (max-width: 705px) {
		font-size: 16px;
	}
	}

	&__tastes {margin: 0 -28px;
	}
}

.block1 {
	& .block__row {justify-content: space-around;align-items: center;flex-wrap: nowrap;}
	& .block__title {width: 450px;}
	& #desc {font-size: 27px;line-height: 44px;text-transform: uppercase;max-width: 360px;}
	&__img {margin: 50px 0 150px 0;
		@media (max-width: 992px) {
			display: none;
		}
		&_2{display: none;
			@media (max-width: 992px) {
				display: block;
			}
		}
	}
	@media (max-width: 613px) {
		& #desc {font-size: 15px;line-height: 30px;max-width: 200px;}
		&__img {max-height: 500px;}
	}
	@media (max-width: 516px){
		& .block__title{max-width: 100%;}
	}
	@media (max-width: 436px) {
		& #desc {font-size: 12px;max-width: 200px;line-height: 25px;}
		&__img {max-height: 450px;}
	}
}

.block2 {background: no-repeat 87% bottom url('../Source/Infographic.png'), 
	no-repeat 100% 315px url('../Source/Visualization.png'), #000;

	@media (max-width: 1440px) {
		background-size: 50%, 100%;
	}
	@media (max-width: 1440px) {
		background-size: 500px, 1000px;
	}
	@media (max-width: 992px) {
		background-position: 87% bottom, 10% 315px;
	}
	@media (max-width: 767px) {
		background-position: bottom, 0px 200px;
	}
	@media (max-width: 620px) {
		background-size: 70%, 100%;
	}
	@media (max-width: 425px) {
		background: no-repeat 87% bottom url('../Source/Infographic_mobile.png'), 
	no-repeat 0px 315px url('../Source/Visualization.png'), #000;
	background-position: bottom center, -80px 260px;
	background-size: 47%, 170%;
	}
	& .block__title{margin: 150px 0 0 0;
		color: #fff;
		& span{color: #000;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;}
		@media (max-width: 767px) {
			margin: 50px 0 0 0;
		}
	}
	& .block__text {color: #fff;max-width: 480px;margin: 80px 0 555px 0;
	@media (max-width: 992px) {
		margin: 80px 0 400px 0;
	}
	@media (max-width: 620px) {
		margin: 30px 0 60% 0;
	}
	@media (max-width: 425px) {
		margin: 30px 0 260% 0;
	}
	}
	&__img {
	}
}

.block3 {background: no-repeat 60% url('../Source/Visualization\ \(1\).png'), #000;
	@media (max-width: 1200px) {
		background-position: 100%;
	}

	& .block__title{margin: 480px 0 60px 0;
		color: #fff;
		& span{color: #000;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;}
	}
	& .block__text {color: #fff;max-width: 480px;margin: 0 0 458px 0;
		@media (max-width: 1200px) {
		max-width: 315px;
		margin: 0 0 394px 0;
		}
	}
	&__img {
	}
	@media (max-width: 992px) {
		background-size: 380px;
		background-position: 85% 100%;
		& .block__title{margin: 180px 0 60px 0;}
		& .block__text{margin: 0 0 220px 0;}
	}
	@media (max-width: 767px) {
		background-size: 330px;
		background-position: 100% 100%;
		& .block__title{margin: 160px 0 60px 0;}
		& .block__text{margin: 0 0 280px 0;}
	}
	@media (max-width: 580px) {
		background-position: 57vw 100%;
	}
	@media (max-width: 420px) {
		background-position: 50vw 100%;
	}
}

.block4 {

	& .block__title{margin: 150px 0 90px 0;}
	& .block__row {justify-content: center;flex-wrap: nowrap;align-items: center;}
	& ul{flex: 0 1 560px;
		& li {margin-bottom: 60px;min-height: 40px;padding-left: 80px;}
		& #cotton {background: no-repeat url('../Source/Сotton_icon.png');}
		& #controller {background: no-repeat url('../Source/Controller_icon.png');}
		& #battery {background: no-repeat url('../Source/Battery-Ico.png');}
		& #plastic {background: no-repeat url('../Source/Plastic_icon.png');}
	}
	&__img {margin: 0 14vw 130px 13vw;
	}
	@media (max-width: 992px) {
		& .block__row {align-items: flex-start;}
		&__img {max-width: 10%;min-width: 62px;}
	}
	@media (max-width: 767px) {
		& .block__title{margin: 100px 0 60px 0;}
		&__img {margin: 0 14vw 100px 10vw;}
	}
	@media (max-width: 597px) {
		& ul li {font-size: 11px;padding: 60px 0 0 0;}
	}
}

.block5 {
	background: no-repeat right 0px url('../Source/image_Safe_Fluid.png');
	& .block__title{margin: 150px 0 100px 0;max-width: 440px;}
	& .block__text {max-width: 360px;margin: 0 0 120px 0;
		&:first-child{margin-bottom: 40px;}
	}
	&__img {max-width: 80px;margin: 0 0 300px 0;}
	@media (max-width: 1200px) {
		background-size: 850px;
		&__img {margin: 0 0 106px 0;}
		& .block__title{font-size: 25px;margin: 50px 0 50px 0;
		}
		& .block__text {font-size: 18px;margin: 0 0 40px 0;}
	}
	@media (max-width: 992px) {
		background-size: 660px;
		&__img {margin: 0 0 106px 0;max-width: 60px;}
		& .block__title{font-size: 23px;line-height: 36px;;margin: 50px 0 50px 0;
			& span {font-size: 52px;}
		}
		& .block__text {font-size: 15px;line-height: 21px;margin: 0 0 40px 0;}
	}
	@media (max-width: 767px) {
		background-size: 530px;
		&__img {margin: 0 0 40px 0;max-width: 50px;}
		& .block__title{font-size: 20px;line-height: 26px;;margin: 50px 0 50px 0;
			& span {font-size: 50px;}
		}
		& .block__text {font-size: 14px;line-height: 18px;margin: 0 0 40px 0;}
	}
	@media (max-width: 640px) {
		background-position: 16vw 0px;
		&__img {margin: 0 0 10px 0;}
		& .block__text {max-width: 240px;margin: 0 0 30px 0;}
	}
	@media (max-width: 529px) {
		background-position: 5vw 0px;
		&__img {margin: 0 0 10px 0;}
		& .block__text {max-width: 200px;}
	}
	@media (max-width: 425px) {
		background: no-repeat right bottom url('../Source/фото-лаборатория-мобильная\ 2.png');
		&__img {margin: 0 0 300px 0;}
		& .block__text {max-width: 300px;}
	}
}

.block6 {

	& .block__title{margin: 190px 0 40px 0;}
	& .block__text {max-width: 600px;margin-top: 20px;}
	& .block__row {margin: 50px 0 200px 0;}
	&__item{margin-top: 50px;}

	& #Green_Tea::after{content: '— Зелёный чай';display: block;transform: rotate(90deg);
		margin: 0 0 0 -20px;}
	& #Pineapple::after{content: '—  Ананас';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Melon::after{content: '—  Дыня';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Mango::after{content: '—  Манго';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Tobacco::after{content: '—  Табак';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Coffee::after{content: '—  Кофе';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Mint::after{content: '—  Мята';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Grapes::after{content: '—  Виноград';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Energy::after{content: '—  Энергетик';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Cherry::after{content: '—  Вишня';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	& #Cola::after{content: '—  Кола';display: block;transform: rotate(90deg);
	margin: 0 0 0 -20px;}
	@media (max-width: 706px) {
		& .block__text {margin-left: 0;}
	}
	@media (max-width: 425px) {
		& .block__row {margin: 50px 0 60px 0;}
	}
	@media (max-height: 459px) {
		& img{max-height: 370px;}
	}
	@media (max-height: 360px) {
		& img{max-height: 300px;}
	}

}

.block7 {background: no-repeat right bottom url('../Source/image_Quality.png');

	& .block__title {max-width: 450px;}
	& .block__text {max-width: 392px;margin: 90px 0 0 120px;padding-bottom: 500px;}
	@media (max-width: 1649px) {
		background-position: right -100px bottom;
	}
	@media (max-width: 1439px) {
		background-size: 1000px;
		& .block__text {padding-bottom: 370px;}
		background-position: right -10px bottom;
	}
	@media (max-width: 1200px) {
		background-size: 700px;
		& .block__text {padding-bottom: 200px;}
	}
	@media (max-width: 992px) {
		background-position: right -70px bottom;
		& .block__title {font-size: 25px;line-height: 36px;
			& span{font-size: 55px;}
		}
		& .block__text {max-width: 300px;padding-bottom: 200px;font-size: 16px;line-height: 23px;
		margin: 80px 0 0 40px;}
	}
	@media (max-width: 800px) {
		background-size: 600px;
		& .block__text {padding-bottom: 150px;}
	}
	@media (max-width: 767px) {
		& .block__text {padding-bottom: 150px;max-width: 40%;margin: 80px 0 0 0;}
	}
	@media (max-width: 619px) {
		background-size: 450px;
		& .block__title {font-size: 20px;line-height: 36px;
			& span{font-size: 50px;}
		}
		& .block__text {max-width: 40%;padding-bottom: 140px;font-size: 14px;line-height: 19px;
			margin: 40px 0 0 0;
		}
	}
	@media (max-width: 459px) {
		background-size: 600px;
		background-position: right -10px bottom;
		padding-bottom: 310px;
		& .block__title {font-size: 18px;line-height: 20.7px;
			& span{font-size: 48px;}
		}
		& .block__text {max-width: 100%;font-size: 11px;margin: 30px 0 0 0;}
	}
	@media (max-width: 459px) {
		background-size: 530px;
		background-position: right -20px bottom;
		padding-bottom: 280px;
	}
}


.spec {background: no-repeat 85% bottom url('../Source/image_Characteristics.png'), #000;

	&_value {font-size: 22px;line-height: 32px;
	}

	&__title {color: #fff;font-size: 28px;line-height: 34px;padding: 200px 0 170px 0;
	}

	&__row {display: flex;max-width: 900px;flex-wrap: wrap;padding-bottom: 280px;
	}

	&__item {display: flex;color: #fff;margin: 0 155px 90px 0;
	}

	&__img {
	}

	&__col {display: flex;flex-direction: column;margin: 10px 0 0 30px;
	}

	&__name {font-size: 23px;line-height: 2px;margin: 0 0 20px 0;
	}
	@media (max-width: 992px) {
		background-size: 140px;
		&__title {font-size: 25px;padding: 90px 0 130px 0;}
		&__name {font-size: 18px;}
		&_value {font-size: 17px;}
		&__item {margin: 0 155px 60px 0;}
		&__row {padding-bottom: 150px;}
	}
	@media (max-width: 800px) and (max-height: 600px) {
		background-size: 100px;
		&__title {font-size: 25px;padding: 60px 0 100px 0;}
		&__row {padding-bottom: 30px;}
	}
	@media (max-width: 767px) {
		&__item {margin: 0 75px 90px 0;}
		&__row {max-width: 78%;}
	}
	@media (max-width: 767px) and (min-height: 481px) {
		background-size: 140px;
	}
	@media (max-width: 732px) {
		&__title {font-size: 18px;padding: 70px 0 60px 0;}
		&__name {font-size: 12px;}
		&_value {font-size: 11px;}
		&__item {margin-bottom: 50px;}
		&__row {padding-bottom: 30px;}
	}
	@media (max-width: 638px) {
		background-size: 70px;
		&__title {font-size: 18px;padding: 40px 0 30px 0;}
		&__name {font-size: 12px;margin: 0 0 10px 0;}
		&_value {font-size: 11px;}
		&__item {margin-bottom: 30px;margin-right: 50px;}
		&__row {padding-bottom: 30px;}
		&__col {margin: 10px 0 0 30px;}
		&__img {max-height: 35px;width: auto;}
	}
	@media (max-width: 522px){
		background-size: 90px;
	}
}
.btn {display: inline-block;padding: 12px 67px;border: 1px solid;border-radius: 100px;
	margin: 0 auto;
	&:hover{color: #C8BB93;}
}
.assortment {

	&__title {font-size: 28px;line-height: 34px;margin: 200px 0 70px 120px;
	}

	&__block{display: flex;justify-content:center;align-items:center;
		& .lBtn{display: none;}
		& .rBtn{display: none;}
	}

	&__img {display: flex;justify-content: center;align-items: center;position: relative;
		& .assortment__pic{
			display: none;
			&_main{display: block;}
		}
	}

	&__btn {
		
		&_row{display: flex;justify-content: center; margin: 78px 0 248px 0;}
	}
	@media (max-width: 1200px) {
		&__img img{width: 970px;height: 450px;object-fit: contain;}
	}
	@media (max-width:992px) {
		&__title {display: none;}
		&__block{
			& .lBtn{display: block;z-index: 1;
				&:hover{cursor: pointer;}
			}
			& .rBtn{display: block;z-index: 1;
				&:hover{cursor: pointer;}
			}
		}
		&__img {max-width: 750px;margin-top: 50px;overflow: hidden;
			& .assortment__pic{position: relative;
				&:nth-child(2){display: block;}
				&_main{display: none;}
			}
		}
		&__btn {&_row{margin: 78px 0 130px 0;}}
	}
	@media (max-width:640px) {
		&__img {margin-top: 20px;}
		&__btn {&_row{margin: 70px 0 130px 0;}}
	}
}
@keyframes toLeft {
	0%{
		right: 0;
	}
	100%{
		right: 55%;
	}
}
@keyframes fromLeft {
	0%{
		right: 55%;
	}
	100%{
		right: 0;
	}
}
@keyframes toRight {
	0%{
		left: 0;
	}
	100%{
		left: 55%;
	}
}
@keyframes fromRight {
	0%{
		left: 55%;
	}
	100%{
		left: 0;
	}
}


.certificates {
	& .container {padding-top: 74px;padding-bottom: 109px;margin-bottom: 266px;

		& h2 {margin-left: 150px;font-size: 28px;line-height: 34px;}
	}

	&_row {display: flex;justify-content: space-around;margin-top: 65px;}
	&__img {display: flex;justify-content: center;}
	@media (max-width:992px) {
		&_row {flex-wrap: wrap;}
		&__img {flex: 0 0 100%;margin-bottom: 70px;}
	}
	@media (max-width:720px) {
		& .container h2 {margin-left: 50px;}
	}
	@media (max-width:425px) {
		&__img img{max-width: 212px;}
	}
	@media (max-width:425px) {
		& .container h2 {margin-left: 0;}
	}
}

.map {

	&__col {display: flex;flex-direction: column;align-items: center;
	}

	&__title {text-align: center;font-size: 28px;line-height: 34px;margin-bottom: 90px;
		& span {font-weight: 900;}
	}

	&__img {margin-bottom: 90px;
	}

	&__btn {margin-bottom: 140px;
	}
	@media (max-width:1024px) {
		&__title {margin-bottom: 30px;}
		&__img {margin-bottom: 30px;
			& img {max-width: 700px;}
		}
	}
	@media (max-width:854px) and (max-height: 480px) {
		&__title {margin-bottom: 20px;font-size: 26px;line-height: 30px;}
		&__img {margin-bottom: 30px;
			& img {max-width: 500px;}
		}
	}
	@media (max-width:717px){&__img {& img {max-width: 500px;}}}
	@media (max-width:640px) and (max-height: 360px) {
		&__title {margin-bottom: 20px;font-size: 20px;line-height: 25px;}
		&__img {margin-bottom: 30px;
			& img {max-width: 300px;}
		}
	}
	@media (max-width:550px) {
		&__img {	& img {max-width: 400px;}}
	}
	@media (max-width:425px) {
		&__img {	& img {max-width: 300px;}}
	}
}


.footer {
	&__column {display: flex;flex-direction: column;
	}

	&__row1 {display: flex; justify-content: space-between;margin-bottom: 70px;
		@media(max-width:767px){justify-content: center;}
	}

	&__logo {
		@media(max-width:992px){display: none;}
	}

	&__subscribe {display: flex;flex-direction: column;
		& h3 {margin: 0 0 29px 0;}
		@media(max-width:992px){flex-direction: row;
			& h3{margin: 0 20px 0 0;align-self: center;}
		}
		@media(max-width:767px){flex-direction: column;
			& h3{margin: 0 0 20px 0;}
		}
	}

	&__form {display: flex;
		& input {background: rgba(192, 173, 189, 0.1);height: 40px;width: 400px;}
		& button {background-color: #000;color: #fff;border-radius: 4px;
			padding: 12px 30px;margin-left: 20px;cursor: pointer;
				& p {margin: 12px 0 0 0;}
		}
		@media(max-width: 992px){
			& input {width: 160px;height: 25px;}
			& button {padding: 5px 15px;}
		}
		@media(max-width: 767px){
			& input {width: 200px;height: 40px;}
			& button {padding: 12px 30px;}
		}
		@media(max-width: 482px){
			& input {width: 160px;height: 25px;}
			& button {padding: 5px 15px;}
		}
		@media(max-width: 394px){
			& input {width: 130px;height: 25px;}
			& button {padding: 5px 5px;margin-left: 5px;}
		}
	}

	&__lang {display: flex;
		& p:first-child{color: #C8BB93;
			&::after {
				content: "";
				width: 1px;
				height: 20px;
				border: 1px solid #000;
				margin: 0 11px;
				cursor: default;
			}
		}
		&:hover{cursor: pointer;}
		@media(max-width:767px){display: none;}
		&_2{display: flex;
			& p:first-child{color: #C8BB93;
				&::after {
					content: "";
					width: 1px;
					height: 20px;
					border: 1px solid #000;
					margin: 0 11px;
					cursor: default;
				}
			}
			&:hover{cursor: pointer;}
			@media(min-width:768px){display: none;}
			@media(max-width: 459px){margin-top: 25px;}
		}
	}

	&__row2 {display: flex;
		@media (max-width: 992px){
			flex-wrap: wrap;justify-content:space-between
		}
	}

	&__apps {display: flex;flex-direction: column;margin-top: -15px;
		@media (max-width: 992px){
			order: 2;
		}
		@media(max-width: 767px){flex-direction: row;justify-content:space-between;flex-basis: 90%;}
	}

	&__ios {display: flex;margin-bottom: 25px;
		& .text__col{display: flex;flex-direction: column;flex: 0 1 60%;margin-left: 17px;line-height: 21px;
			& span {color: #AAAAAA;}
		}
		& img{height: 50%;}
	}

	&__android {display: flex;
		& .text__col{display: flex;flex-direction: column;flex: 0 1 60%;margin-left: 17px;line-height: 21px;
			& span {color: #AAAAAA;}
		}
		& img{height: 50%;}
	}

	&__subrow {display: flex;justify-content: space-around;
		@media (max-width: 992px){
			order: 1;margin-bottom: 40px;
		}
		@media(max-width: 767px){flex-wrap: wrap;}
	}

	&__item {margin: 0 40px;font-size: 14px;
		& ul {margin-top: 23px;
			& li {margin: 17px 0;font-size: 13px;color: #AAAAAA;cursor: pointer;}
		}
		@media(max-width: 767px){flex: 0 1 120px;margin-bottom: 30px}
		@media(max-width: 547px){flex-basis: 120px;margin: 10px 20px;font-size: 11px;
			& ul li {font-size: 10px;}
		}
		@media(max-width: 416px){margin: 10px 10px;}
		@media(max-width: 367px){margin: 10px 0;flex-basis: 90px}
	}

	&__adress {text-align: right;flex: 0 1 285px;
		& img {justify-self: end;margin-bottom: 30px;cursor: pointer;
		@media(max-width:361px){height: 40%;}
		}
		@media (max-width: 992px){
			order: 3;
		}
		@media(max-width: 767px){display: flex;margin-top: 50px;justify-content:space-between;
		flex-basis: 90%;}
	}

	&__info {justify-self: center;text-align: center;max-width: 70%;align-self: center;
		color: #AAAAAA;margin: 80px 0 50px 0;
		@media (max-width: 992px){
			max-width: 90%;
		}
		@media (max-width: 459px){
			margin: 40px 0 20px 0;
		}
	}
}